/* .page, .zaglavlje, .proizvodi{
    border: 1px solid;
} */
a{
  text-decoration: none;
}
.page {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 700px;
  border: 1px solid;
  padding: 0.6em;
  gap: 0.6em;
}

.zaglavlje {
  display: flex;
  flex-direction: row;
  height: 55px;
  gap:0.6em;
  justify-content:space-between; 
}
.logotip {
  width: 110px;
  border: 1px solid;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
}
.header-icons {
  width: 150px;
  display: flex;
  border: 1px solid;
  justify-self:flex-end;
}
.kosara,
.pretrazi {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.kosarica {
  border: 1px solid;
  /* margin: 0.6em; */
}
.naslov {
  /* border: 1px solid; */
  margin-top: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
}
.cart-box {
  border: 1px solid;
  margin: 32px 50px 50px 50px;
  min-height: 300px;
}
.kolicina {
  text-align: center;
}
table {
  width: 100%;
  margin-left: 40px;
}
th {
  text-align: left;
  padding-bottom: 10px;
  /* border: 1px solid; */
}

th:last-child {
  text-align: center;
}

td {
  width: 50%;
  /* border: 1px solid; */
  padding: 8px 0;
  text-align: left;
}
button{
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  /* font-size: large; */
  background-color: #e7e7e7;
  color:black;
}

@media (max-width: 1023px) {
  /* HEADER */
  .page {
    max-width: 400px;
    height: auto;
  } 

  /* MAIN */
  .main {
    margin: 0 0.4em 0.4em 0.4em;
    gap: 0.4em;
    flex-wrap: 1;
    display: flex;
    flex-wrap: wrap;
  }
  th:last-child {
    text-align: left;
  }
  td:last-child{
    text-align: left;
  }
  
}