* {
  font-family: Arial, Helvetica, sans-serif;
}
div {
  
}
.page {
  display:flex;
  flex-direction: column;
  height: 600px;
  width: 700px;
  border: 1px solid;
}
.header {
  display: flex;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  height: 55px;
}
.logotip1 {
  width: 100px;
  border: 1px solid;
}
.trenutna-kategorija {
  width: 500px;
  margin-left: 7px;
  background-color: aqua;
  border: 1px solid;
}
.header-icons {
  margin-left: 7px;
  width: 150px;
  display: flex;
  background-color: pink;
  border: 1px solid;
}
.kosarica,
.pretrazi {
  height: 100%;
  width: 50%;
}
.main {
  display: flex;
  margin:7px;
  border: 1px solid rgb(43, 226, 43);
  flex-direction: column;
  flex:1;
}

.kategorija{
  border: 1px solid;
}

.kontakt{
  border: 1px solid;
}
.products{
  border: 1px solid;
}